<div class="modal-header">
  <h3 class="modal-title"><b>{{templateInfo.name}}  </b></h3>
</div>
<div class="modal-body dataset-file">
  <div class="panel-content">
    <div class="well ">
      <span><b>模板说明:</b>{{templateInfo.description}}</span>
    </div>
    <div class="container-fluid">
      <form class="form-horizontal">
        <div  class="form-group" ng-repeat="table in templateParams.userParams|filter:{type:'dataset'}">
          <label class="col-md-3 control-label">{{table.label}}</label>
          <select class="col-md-9" ng-options="dataset.name for dataset in datasets" ng-model="currentdataset"  ng-change="ondatasetchange(currentdataset,table.name)">
            <option value="">--请选择数据集--</option>
          </select>
        </div>

        <div  class="form-group"  ng-repeat="colparam in templateParams.userParams|filter:{type:'column'}">
          <label class="control-label col-md-3">{{colparam.label}}</label>
          <select class="col-md-9" ng-options="column for column in columns" ng-model="callParams.userParams[colparam.name]">
            <option value="">--选择数据列--</option>
          </select>
        </div>
        <div   class="form-group" ng-repeat="colparam in templateParams.userParams|filter:{type:'multicol'}">
          <label class="control-label col-md-3">{{colparam.label}}</label>
          <div ng-repeat="colitem in callParams.userParams[colparam.name] track by $index" >
            <select class="" ng-options="column for column in columns"  ng-model="callParams.userParams[colparam.name][$index]">
              <option value="">--选择数据列--</option>
            </select>
            <button class="btn btn-success btn-xs " type="button" ng-click="add(callParams.userParams[colparam.name],$index)"><span class="glyphicon glyphicon-plus"></span></button>
            <button class="btn btn-danger btn-xs" type="button" ng-click="delete(callParams.userParams[colparam.name],$index)"><span class="glyphicon glyphicon-minus"></span></button>
          </div>
        </div>
        <div class="form-group"  ng-repeat="opt in templateParams.userParams|filter:{type:'select'}">
          <label class="control-label col-md-3">{{opt.label}}</label>
          <select class="col-md-9" ng-options="opt.key as opt.placeholder for  opt in opt.options" ng-model="callParams.userParams[opt.name]">
            <option value="">--请选择--</option>
          </select>
        </div>
        <div class="form-group" ng-repeat="item in templateParams.userParams|filter:{type:'input'}">
          <label class="control-label col-md-3">{{item.label}}</label>
          <div ng-init="item.show=false">
            <input class="col-md-9" ng-focus="item.show=!item.show" ng-hide="item.show" placeholder = {{item.placeholder+':'+item.value}} type="textarea" />
            <input class="col-md-9"  ng-show="item.show" ng-model="callParams.userParams[item.name]"  placeholder = {{item.value}} type="textarea" />
          </div>
        </div>
        <div class="form-group"  ng-repeat="item in templateParams.userParams|filter:{type:'output'}">
          <label class="control-label col-md-3">{{item.label}}</label>
          <div ng-init="item.show=false">
            <input class="col-md-9" ng-focus="item.show=!item.show" ng-hide="item.show" placeholder = {{item.placeholder}} type="textarea" />
            <input class="col-md-9"  ng-show="item.show" ng-model="callParams.userParams[item.name]"  placeholder = {{item.value}} type="textarea" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">输出描述</label>
          <input class="col-md-9" ng-model="callParams.reportInfo.description" placeholder={{callParams.output=='dataset'?'输出数据集描述':'输出报告描述'}} type="textarea"/>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">公开(不公开)</label>
          <select class="col-md-9" ng-options="item for item in callParams.reportInfo.ispublicOptions" ng-model="callParams.reportInfo.ispublic" ></select>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="runtemplate()">生成报告</button>
  <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>
